.selected-img{
    max-width: 500px;
}

.prev-img,.next-img{
    max-width:150px;
    position:relative;
    margin:0 50px;
}

.slide-btn:hover{
    background:none;
    background-color: rgb(73, 73, 73);
}


.slide-btn{
    border-radius:50%;
    min-width:20px;
    min-height:20px;
    background:linear-gradient(to bottom right, rgb(192, 192, 192), rgb(73, 73, 73));
    margin:0 5px;
}

.slide-btn-select{
    background:none;
    background-color: rgb(73, 73, 73);
}

.left,.right{
    border-radius: 2px;
    border-width: 0;
    background:linear-gradient(to bottom right, rgb(192, 192, 192), rgba(117, 117, 117, 0.658));
    margin:0 15px;
}

.selected-slide{
    background-color: rgb(73, 73, 73);
}

.carousel-nav{
    display:flex;
}

.pictureOpenFromRight{
    animation: pictureOpenRightAni 400ms ease-in-out;
}

.pictureOpenFromLeft{
    animation: pictureOpenLeftAni 400ms ease-in-out;
}

.pictureCloseToLeft{
    animation: pictureCloseLeftAni 400ms ease-in-out;
}

.pictureCloseToRight{
    animation: pictureCloseRightAni 400ms ease-in-out;
}

@keyframes pictureOpenLeftAni{
    0%{    
       transform:translateX(-100%) scale(.25);
    
    }

    100%{
        
        transform:translateX(0%) scale(1);
       
    }
}

@keyframes pictureOpenRightAni{
    0%{    
       transform:translateX(100%) scale(.25);
    
    }

    100%{
        
        transform:translateX(0%) scale(1);
       
    }
}

@keyframes pictureCloseRightAni{
    0%{
       transform:translateX(-100%) scale(2);
    }

    100%{
        transform:translateX(0%) scale(1);
    }
}

@keyframes pictureCloseLeftAni{
    0%{
       transform:translateX(100%) scale(2);
    }

    100%{
        transform:translateX(0%) scale(1);
    }
}