

.flex{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-size{
    min-width:200px;
    min-height:50px;
    margin:0 auto;
}

.align-text{
    text-align: center;
}

.dropdown-trigger{
    background-color: rgba(177, 243, 243, 0.767);
    border:2px solid rgba(77, 77, 77, 0.801);
    transition: transform 300ms ease-in-out;
}

.dropdown{
    margin:0;
    padding:0;
    list-style-type: none;
    transition: transform 300ms ease-out;
}

.onSelectColor:hover{
    background-color: rgba(131, 13, 37, 0.699);
}

 .item1{
    animation: scaleAni 300ms ease-in-out;
}
 .item2{
    animation: scaleAni 400ms ease-in-out;
}
 .item3{
    animation: scaleAni 500ms ease-in-out;
}
 .item4{
    animation: scaleAni 600ms ease-in-out;
}
 .item5{
    animation: scaleAni 700ms ease-in-out;
}

.dropdown > *{
    padding:2px 6px;
    animation-fill-mode:forwards;
    background-color: rgba(220, 20, 60, 0.699);
    border:1px solid rgba(128, 128, 128, 0.692);
}

.visible{
  display:none;
}

@keyframes scaleAni {
    from {
        transform:scale(0);
    }

    to {
        transform:scale(1);
    }
}